.LandingPage {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 212, 255);
}

.LandingPage__Main {
  padding-bottom: 50px;
  text-align: center;
}

.LandingPage__Main h1 {
  font-size: 36px;
}

.LandingPage__Main h2 {
  font-size: 18px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}

.LandingPage__Main h3 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.LandingPage__Main li {
  font-size: 18px;
  font-weight: 300;
  list-style: inside;
  padding-left: 20px;
  padding-right: 20px;
}

.LandingPage__Main ul {
  padding: 0;
}

.LandingPage__Main a {
  text-decoration: none;
  color: black;
}

.LandingPage__Hero {
  background-color: white;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage__HowItWorks {
  padding: 20px;
}

.LandingPage__HowItWorks__Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingPage__DemoAccount {
  padding: 20px;
}

.LandingPage__GetStarted {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingPage span {
  font-size: 18px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}

.Text__Container {
  width: 80%;
}

.HowItWorks__Item {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 200px;
}

.HowItWorks__Icon {
  max-width: 75px;
  max-height: 75px;
  margin-bottom: 20px;
}

.register__button {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.register__button:hover {
  background-color: rgb(213, 164, 255);
}

.login__button:hover {
  background-color: rgb(213, 164, 255);
}

.login__button {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.LandingPage__HowItWorks__Grid {
  display: none;
}

@media only screen and (min-width: 481px) {
  .LandingPage__Hero {
    /* padding: 20px; */
    background-image: url(../../assets/meditation-hero.png);
    background-position: 60% 30%;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .LandingPage__HowItWorks__Box {
    display: none;
  }

  .LandingPage__HowItWorks__Grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .HowItWorks__2ItemRow {
    display: flex;
    flex-direction: row;
  }

  .Text__Container {
    width: 60%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 835px) {
  .LandingPage__Hero {
    /* padding: 20px; */
    background-image: url(../../assets/meditation-hero.png);
    background-position: 0% 30%;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .LandingPage__HowItWorks__Box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .LandingPage__HowItWorks__Box img {
    height: 500px;
  }

  .LandingPage__HowItWorks__Grid {
    display: none;
  }

  .Text__Container {
    width: 50%;
    margin-left: 10%;
  }
}
