.LoginPage__Main {
  background-color: rgb(235, 212, 255);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.LoginPage__Main h1 {
  font-size: 36px;
  padding: 20px;
}

.LoginPage__Main label {
  font-size: 18px;
  font-weight: 200;
  text-align: left;
}

.LoginPage__Main input {
  font-size: 18px;
}

.LoginPage__Main button {
  font-size: 18px;
  font-weight: 200;
}

.Logging_In {
  padding: 33px;
  background-color: rgb(245, 245, 245);
}

.Logging_In {
  background-color: rgb(235, 212, 255);
}
